
.trash {
    position: fixed;
    top: 50%;
    right: 20px; /* Ajusta este valor según sea necesario */
    transform: translateY(-50%);
    background-color: #f44336; /* Color de fondo de la papelera */
    color: #fff; /* Color del texto */
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999; /* Asegúrate de que la papelera esté por encima de otros elementos */
  }
  
  .trash:hover {
    background-color: #d32f2f; /* Cambia el color de fondo al pasar el ratón sobre la papelera */
  }

 .task-contianer{
  display:flex;
  flex-direction:row;
 } 

  .task-container-uno {
  margin-top: 100px;   
  width: 1030px;
 display: flex;
 flex-wrap: wrap;
 align-items: flex-start;
 display: flex;
 flex-wrap: wrap;
 align-items: flex-start;
    }
    .task-container-dos{
      width: 300px;
      height:70vh;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      min-height: 100vh;
    }
  
  .task-item {
    flex: 0 0 calc(33.33% - 100px); /* 33.33% para que haya tres tareas por fila */
 /* Espacio entre las tareas */
  }
  .pendiente{
    background-color: red;
    border-radius: 5px;
    border: solid black 2px;
  }
  .completa{
    background-color:greenyellow;
    border-radius: 5px;
    border: solid black 2px;
  }
 
  